
*{
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
}
body{
    font-family: 'Raleway', sans-serif;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 35px;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
    padding: 30px 100px;
    top: 0;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    position: sticky;
    background-color: #4a76a8;
    border-bottom: 1px solid #4872a3;
}
#wall{
    width : 50%;
}
.main-menu {
    z-index: 1;
    width: auto;
}
#page{
    display: flex;
    flex-direction: row;
    background-color: #edeef0;
}
#nav_menu{
    margin-left: 10%;
    display: block;
    margin-top: 20px;
}
.white_text{
    color: white;
    cursor: pointer;
}
.edit_value{
    border: none;
    color:#285473;
    width: 50%;
}
.unfollow_group{
    margin: 0px;
    margin-left: 80%;
}
.display_group{
    text-decoration: none;
    color: #285473;
    width: 50%;
}
.follow{
    border: 1px solid #285473;
    width: 150px;
    padding: 10px 0px;
    border-radius: 5px;
    margin-left: 70%;
    text-align: center;
    color: white;
    background-color: #285473;
}
.follow:hover{
    color: white;
    text-decoration: none;
}
.group_desc{
    border: none;
    color: #285473;
}
#create_group_form{
    display: flex;
    flex-direction: column;
}
.group_title{
    border:none;
    font-size: 32px;
    color: black;
    margin: 20px 0px;
}
.nav_menu_p{
    color:#285473;
}
.add_friend{
    opacity: 0.5;
    margin-left: 20px;
    padding-top: 25px;
}
.container{
    width: 300px;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}
    
#black_menu{
    background-color: rgba(8, 8, 8, 0.5);
    color: white;
    font-size: 32px;
    display: none;
    margin: 0px;
    text-align: center;
    width: 300px;
    height: 300px;
    padding-top: 120px;
    position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
}
#main_photo_img{
    border-radius: 5px;
    background-size: cover; 
    background-position: center;
    height: 300px;
    padding: 0px;
}
#main_photo_img:hover figcaption{   
    display: block;
    opacity: 1;
}
#group_photo:hover figcaption{   
    display: block;
    opacity: 1;
}
#group_photo{
    width: 100%;
    height: 300px;
    margin: 0px;
    background-size: cover;
    background-position: center;
}
#fileToUpload{
    display: none;
}
#fileToUploadGroup{
    display: none;
}
#main_photo_img:hover{   
    background-size: cover;
    background-position: center;
}
figcaption{
    border-radius: 5px;
    transition: transform 0.5s ease-in-out, display 0.5s ease-in-out;
    background-color: rgba(8, 8, 8, 0.596);
    color: white;
    opacity: 0;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height: 25%;
    cursor: pointer;
    transform: translateY(300%);
    display: none;
}
.ico{
    width: 40px;
    height: 30px;
    background-size: cover;
    background-position: center;
    margin: 5px;
}
.grey_text{
    color: #939393;
}
.wide_container{
    width: 100%; 
}
.full_container{
    width: 100%;
    
}
.display_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blue_text{
    color:#285473;
}
.blue_link{
    color:#285473 !important;
    cursor: pointer;
}
.blue_link:hover{
    text-decoration: none;
}
#my_pic_div{
    margin-left: 70%;
}
#my_pic_div:hover{
    opacity: 1;
}
.blue_link:hover{
    text-decoration: underline;
}
#user_status{
    width: 100%;
}
#about_me_table{
    width: 80%;
}
#all_friends_container{
    display: inline-block;
    width: 100%;
}
.delete_friend{
    margin-left: 20px;
    opacity: 0.4;
    padding-top: 25px;
}
.delete_friend:hover{
    margin-left: 20px;
    opacity: 1;
    
}
.friend_container_medium{
    margin: 10px 0px 10px 20px;
    display: flex;
    cursor: pointer;
    flex-direction: row;
}
.date_last_mess{
    margin-left: 80%;
}
.message{
    margin: 10px;
}
.message_container{
    margin: 10px 0px 10px 20px;
    display: flex;
    flex-direction: row;
}
.friend_name{
    text-align: center;
}
.all_friends_container_small{
    width: 30%;
    height: 90px;
    display: inline-block;
    cursor: pointer;
}
#amount_friends_table{
    color: #4872a3;
    margin-left: 20px;
    margin-right: auto;
    width: 50%;
    margin-top: 0px;
    text-align: center;
}
th{
    font-size: 22px;
}
.edit_ico{
    width: 16px;
    opacity: 0.8;
}
#all_pics{
    display: flex;
    flex-direction: row;
}
.small_pics{
    width: 110px;
    height:110px;
    background-size: cover;
    background-position: center;
    margin-left: 4px;
}
.delete_post{
    margin-right: 20px;
    opacity: 0.3;
    transition: opacity 0.4s ease-in-out;
} 
.delete_post:hover{
    opacity: 1;
}

.delete_comment{
    margin: 0px 20px;
}
.post_content{
    width: 100%;
}
.post_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.all_groups{
    display:flex;
    flex-direction: row;
}
.all_groups:hover{
    text-decoration: none;
}
#myFileToUpload{
    display: none;
}
.my_pic_form{
    margin-left: 70%;
}
.my_pic_form:hover{
    opacity: 1;
}
#upload_pic_div{
    display: flex;
    flex-direction: row;
}
.whats_new{
    display: flex;
    flex-direction: row;
}
.comment{
    width: 100%;
}
.round_pics{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.flex_row{
    display: flex;
    flex-direction: row;
}
.friend_name{
    padding-top: 25px;
}
.round_pics_big{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 30px;
    margin-left: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.round_pic_friend{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 0px auto;
    
    background-size: cover;
    background-position: center;
}
.posts_menu{
    margin: 10px 0px 20px 0px;
    display: flex;
    flex-direction: row;
}
.posts_menu_text{
    margin: 0px 30px;
}
#display_all_posts{
    cursor: pointer;
}
.posts_menu_line{
    height: 0px;
    width: 30%;
    box-align: left;
    border-color: black;
    transition: width 0.4s ease-in-out;
    opacity: 0.5;
    margin: 2px 0px;
}
.line_all_posts{
    width: 100%;
}
.large_container{
    width: 980px;
    display: inline-block;
}
.delete_pic{
    width: 20px;
    height: 20px;   
    background-color: black;
    opacity: 0;
    margin-left: 280px;
    color: white;
    text-align: center;
}
.pics_container:hover .delete_pic{
    opacity: 0.5;
}
#moreFileToUpload{
    display: none;
}
.pics_container{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 3px;
}
#upload_more_pic{
    cursor: pointer;
}
.display_pics:hover{
    opacity: 1;
    text-decoration: none;
    color: black;
}
.half_opacity_text{
    transition: opacity 0.4s ease-in-out;
    opacity: 0.5;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.half_opacity_text:hover{
    opacity: 1;
}
.posts_menu_text:hover .posts_menu_line{
    width: 100%;
}
.pics_in_post{
    width: 80%;
    margin: 20px 0px;
    height: 80%;
}
.posts_summary_top{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    margin-left: 10%;
}
textarea{
    border: 1px solid grey;
    width: 85%;
    padding: 5px;

}
#post img{
    margin-top: 10px;
}
.like{
    width: 25px;
    height: 25px;
    transition: opacity 0.4s ease-in-out;
    margin: 0px 15px;
}
.like_post{
    opacity: 0.7;
    width: 25px;
    height: 25px;
    transition: opacity 0.4s ease-in-out;
    margin: 0px 15px;
}
.like_comment{
    width: 15px;
    height: 15px;
    transition: opacity 0.4s ease-in-out;
    opacity: 0.7;
}
.like_comment:hover{
    opacity: 1;
}
.opacity_1{
    opacity: 1;
}
.like_summary{
    display: flex;
    flex-direction: row;
}
.comment_summary{
    display: flex;
    flex-direction: row;
}
.posts_summary:hover{
    opacity: 1;
}
.comments{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.new_comment{
    height: 30px;
    width: 75%;
}
.new_comment_form{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    width: 100%;
}
.send_comment{
    width: 25px;
    height: 25px;
    margin: 0px 0px 0px 5px;
}
.send_mess{
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-top: 15px;
    vertical-align: top;
}
button{
    border: none;
}
.comment_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}
.delete_comment{
    opacity: 0.3;
    transition: opacity 0.4s ease-in-out;
} 
.delete_comment:hover{
    opacity: 1;
}
.delete_post_form{
    display: flex;
    flex-direction: row;
}

.new_mess_count{
    font-weight: bold;
}
#new_message_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    vertical-align: top;
}
#create_group{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 1024px){
    .nav_menu_p {
        display: none;
    }
    #nav_menu{
        margin-left: 0px;
        display: flex;
        flex-direction: row;
    }
    .container{
        width: 80%;
    }
    #my_pic_div{
        margin-left: 50%;
    }
    textarea{
        width: 70%;
    }
    .round_pics{
        margin-right: 5px;
    }
    #page{
        flex-direction: column;
    }
    .menu{
        padding: 5px;
    }
    #wall{
        width: 100%;
    }
    .small_pics{
        height: 60px;
    }
}

@media only screen and (min-width: 1024px){
}