<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_app/style_result.css' %}"> 
    <script src="{% static 'login_app/js/script.js' %}"></script>
    
</head>
<body>
    {% csrf_token %}
    <div class='menu main-menu'>
        <a href = '/'><h3 class = white_text>Welcome, {{user_session.first_name}}!</h3></a>
        <a class = white_text href="/logout">Log out</a>
    </div>
    <div id = page>
        <div id = nav_menu>
            <div><a class = 'blue_link' href = '/'><img class = ico style = "opacity:0.6" src="{% static 'login_app/images/home.png' %}" /><span class = nav_menu_p>My Page</span></a></div>
            <div><a class = 'blue_link' href = '/{{user_session.id}}/friends'><img class = ico style = "opacity:0.6" src="{% static 'login_app/images/friend.png' %}" /><span class = nav_menu_p>My Friends</span></a></div>
            <div><a class = 'blue_link' href = '/{{user_session.id}}/messages' ><img class = ico style = "opacity:0.6" src="{% static 'login_app/images/messages.png' %}" /><span id = my_mess class = nav_menu_p>My Messages</span></a></div>
            <div><a class = 'blue_link' href = '/{{user_session.id}}/pics'><img class = ico style = "opacity:0.6" src="{% static 'login_app/images/photo.png' %}" /><span class = nav_menu_p>My Photos</span></a></div>
            <div><a class = 'blue_link' href = '/{{user_session.id}}/groups'><img class = ico style = "opacity:0.6" src="{% static 'login_app/images/groups.png' %}" /><span class = nav_menu_p>My Groups</span></a></div>
        </div>
        <div id = wall>
            <div class = 'container large_container'>
                {% if user == user_session %}
                    <div id = upload_more_pic>
                        &#8679;Upload
                    </div>
                    <form method = 'POST' enctype="multipart/form-data" id = more_pic_form>
                        {% csrf_token %}
                        <input type = "file" name = moreFileToUpload id = moreFileToUpload accept="image/*">
                        <input type = hidden name = user_id value = {{user.id}}>
                    </form>
                {% endif %}
              
                <div id = display_pics>
                    {% for pic in pics %}
                        <div class = pics_container style = "background-image: url({{pic.image.url}})">
                            {% if user == user_session %}
                                <div class = delete_pic >
                                    &#10005;
                                </div>
                                <input type = hidden name = pic_id value = "{{pic.id}}">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</body>
</html>