<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_app/style_result.css' %}"> 
    <script src="{% static 'login_app/js/script.js' %}"></script>
    
</head>
<body>
    {% csrf_token %}
    <div class='menu main-menu'>
        <a href = '/'><h3 class = white_text>Welcome, {{user_session.first_name}}!</h3></a>
        <a class = white_text href="/logout">Log out</a>
    </div>
    <div id = page>
        <div id = nav_menu>
                <div><img class = ico style = "opacity:0.6" src="{% static 'login_app/images/home.png' %}" /><a class = 'nav_menu_p blue_link' href = '/'>My Page</a></div>
                <div><img class = ico style = "opacity:0.6" src="{% static 'login_app/images/friend.png' %}" /><a class = 'nav_menu_p blue_link' href = '/{{user_session.id}}/friends'>My Friends</a></div>
                <div><img class = ico style = "opacity:0.6" src="{% static 'login_app/images/messages.png' %}" /><a class = 'nav_menu_p blue_link' href = '/{{user_session.id}}/messages'>My Messages</a></div>
                <div><img class = ico style = "opacity:0.6" src="{% static 'login_app/images/photo.png' %}" /><a class = 'nav_menu_p blue_link' href = '/{{user_session.id}}/pics'>My Photos</a></div>
                <div><img class = ico style = "opacity:0.6" src="{% static 'login_app/images/groups.png' %}" /><a class = 'nav_menu_p blue_link' href = '/{{user_session.id}}/groups'>My Groups</a></div>
        </div>
        <div id = wall>
            <div class = 'container wide_container'>
                <div class = posts_menu>
                    <div class = posts_menu_text>
                        <a id = display_friends class = opacity_1>All Friends</a>
                        <input type = hidden class = users_friends value = {{user.id}}>
                        <hr class = 'posts_menu_line line_friends'>
                    </div>
                    <div class = posts_menu_text>
                        <a id = display_online_friends class = half_opacity_text>Online Friends</a>
                        <input type = hidden class = users_friends value = {{user.id}}>
                        <hr class = 'posts_menu_line line_online_friends'>
                    </div>
                    {% if user ==  user_session %}
                        <div class = posts_menu_text>
                            <a id = display_not_friends class = half_opacity_text>You could be a friends</a>
                            <input type = hidden class = users_friends value = {{user.id}}>
                            <hr class = 'posts_menu_line line_all_users'>
                        </div>
                    {% endif %}
                </div>
                <hr>

                <div id = friends_container>
                    {% for friend in user.friends.all %}
                        <div class = friend_container_medium>
                            <img class = round_pics_big style = "background-image: url({{friend.profile_image.url}})">
                            <a href = '/{{friend.id}}' class = 'blue_link friend_name'>{{friend.first_name}} {{friend.last_name}}</a>
                            
                            {% if user.id == request.session.user_id %}
                                <form class = 'delete_friend_form' method = 'get'>
                                    {% csrf_token %}
                                    <input type = hidden name = friend_id class = friend_id  value = {{friend.id}}>
                                    <button type = submit class = add_friend>&#10005;</button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>