<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{% load static %}
<script src="{% static 'login_app/js/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'login_app/style_result.css' %}"> 
<div class = small_pics style = "background-image: url({{pics.0.image.url}})"></div>
<div class = small_pics style = "background-image: url({{pics.1.image.url}})"></div>
<div class = small_pics style = "background-image: url({{pics.2.image.url}})"></div>
<div class = small_pics style = "background-image: url({{pics.3.image.url}})"></div>
<div class = small_pics style = "background-image: url({{pics.4.image.url}})"></div>